* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  color: #36b37e;
}

.bar {
  display: flex;
}

.top {
  position: absolute;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 45px;
  background-image: url("/Images/header_illustration.png");
  background-size: cover;
  overflow: scroll;
}

.socials {
  display: flex;
  align-items: center;
  background-size:cover;
  margin-top: 29.05px;
}

.buttons {
  display: flex;
  margin-top: 82.5px;
}

.head {
  display: flex;
  flex-direction: column;
  width:120%;
  height: auto;
  margin-top: 10px;
}

.text {
  display: flex;
  width: 120%;
  height: auto;
  lex-direction: column;
  margin-top: 15px;
}

.head h2 {
  font-family: 'Inter', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.text p {
  font-family: 'Inter', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}
