/* Universal selectors */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

p {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 28px;
  color: #172b4d;
}

button {
  display: flex;
  color: #fff;
  background: #227150;
  border-radius: 4px;
  margin-top: 24px;
  padding: 12px;
  transition: 0.6s;
  border: none;
  font-size: 1.1em;
}

button:hover {
  box-shadow: 1px 8px 16px #36b37f3d;
}

button:active {
  background: #008552;
}

/* Head of website */

.title {
  color: #227150;
}

.menu {
  display: none;
}

.bar-container {
  display: flex;
  justify-content: right;
  padding: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 45px;
  background-image: url("./Images/header_illustration.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 0%;
}

.socials {
  display: flex;
  align-items: center;
  background-size: cover;
  margin-top: 29px;
  column-gap: 20px;
  flex-direction: row;
}

.socials a {
  text-decoration: none;
}

.socials ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  align-items: center;
  justify-content: space-around;
}

.socials li {
  padding: 5px;
}

.head {
  display: flex;
  flex-direction: column;
  width: 120%;
  height: auto;
  margin-top: 10px;
}

.text {
  display: flex;
  width: 120%;
  flex-direction: column;
  margin-top: 15px;
  padding: 17px;
}

.head h1 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  color: #172b4d;
}

.box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

#bellow {
  margin-top: 82px;
}

/* Recent Works section */

.works {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px;
  font-size: 1.7em;
  margin-top: 30px;
  margin-bottom: 60px;
}

.background {
  width: 80%;
  background-color: #d0d9d4;
  border: 2px solid #c1c7d0;
  border-radius: 8px;
  margin-top: 24px;
  transition: 0.5s;
}

.background:hover {
  scale: 1.05;
}

/* Story+Post cards */

.grid {
  display: grid;
  align-content: center;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 252px;
  grid-template-columns: minmax(100px, auto);
  gap: 10px;
  grid-auto-rows: 45% 10% 45%;
  justify-items: center;
}

.grid-item {
  align-self: center;
}

.grid-item h2 {
  display: flex;
  padding: 16px;
  color: #3a4a42;
  font-size: 1.7em;
}

.grid-item button {
  font-size: 1.2em;
  padding: 16px;
  margin-bottom: 16px;
  margin-top: 26px;
}

.grid-item ul {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.grid-item li {
  font-size: 0.8em;
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  transition: 0.3s;
}

.grid-item li:hover {
  color: #ebf0ee;
  background-color: #227150;
  scale: 1.2;
}

/* About Me section */

.a-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 12px;
  margin-top: 68px;
  background:
    no-repeat top right / 17% url("./Images/ill-1_about-me.png"),
    no-repeat left bottom / 20% url("I./mages/ill-2_about-me.png");
}

.about {
  display: flex;
  flex-direction: column;
}

.a-container > .text {
  width: 90%;
}

.about h2 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  color: #172b4d;
}

/* Skills cards */

.me-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-content: center;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin-top: 59px;
  transition: 0.4s;
}

.card:hover {
  background-color: #60c095;
  scale: 1.1;
  border: 2px solid #81858a;
}

.card h2 {
  color: #344563;
  margin-top: 28px;
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 7px;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
  row-gap: 8px;
}

.card li {
  font-size: 0.8em;
  color: #227150;
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
  padding: 12px 10px;
  transition: 0.4s;
}

.card li:hover {
  scale: 1.2;
}

#lang {
  display: flex;
  width: 5em;
  height: 5em;
  margin-top: 40px;
  align-self: center;
  background-color: #fff;
  box-shadow: 1px 16px 24px #252f8914;
  border-radius: 50%;
  background-image: url("./Images/languages.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 50%;
}

#fw {
  display: flex;
  width: 5em;
  height: 5em;
  margin-top: 40px;
  align-self: center;
  background-color: #fff;
  box-shadow: 1px 16px 24px #252f8914;
  border-radius: 50%;
  background-image: url("./Images/frameworks.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 50%;
}

#sk {
  display: flex;
  width: 5em;
  height: 5em;
  margin-top: 40px;
  align-self: center;
  background-color: #fff;
  box-shadow: 1px 16px 24px #252f8914;
  border-radius: 50%;
  background-image: url("./Images/skills.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 50%;
}

/* Form Section */

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 45px;
  margin-top: 20px;
  background: url("./Images/contact-mobile.png") 100% 92% no-repeat;
  background-size: 20%;
}

.touch {
  display: flex;
  flex-direction: column;
  width: 120%;
}

.touch h2 {
  color: #172b4d;
  font-size: 2.3em;
}

.connect {
  display: flex;
  width: 120%;
  height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  padding: 24px;
}

#comment {
  background: url("./Images/form-handle.png") 100% 100% no-repeat;
  background-size: 10%;
}

label {
  display: none;
}

input[type="text"],
input[type="email"] {
  display: flex;
  width: 100%;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 24px;
  padding: 5px;
}

input::placeholder {
  font-style: italic;
}

textarea {
  font-size: 0.9em;
  text-align: left;
  border: 1px solid #60c095;
  width: 100%;
  border-radius: 4px;
  padding: 20px;
}

.mail {
  font-size: 0.9em;
  color: #42526e;
  margin-top: 31px;
}

@media (min-width: 768px) {
  .head,
  .text,
  .text-a,
  .about,
  .touch,
  .connect {
    width: 40%;
  }

  .bar-container {
    display: none;
  }

  .container {
    background-size: 90%;
    height: 120vh;
  }

  .menu {
    display: flex;
  }

  .menu li {
    padding: 10px;
  }

  .head {
    margin-top: 186px;
  }

  .me-container {
    flex-direction: row;
    gap: 40px;
    align-content: baseline;
  }

  .box {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .background {
    width: 30%;
    background-color: #d0d9d4;
    border: 2px solid #c1c7d0;
    border-radius: 8px;
    margin-top: 24px;
  }

  .card h2 {
    font-size: 1.9em;
  }

  .card li {
    font-size: 1em;
  }

  .a-container {
    background:
      no-repeat top right / 16% url("./Images/ill-1_about-me.png"),
      no-repeat bottom left / 16% url("./Images/ill-2_about-me.png");
  }

  .about {
    margin-top: 35px;
  }

  .a-container .text {
    width: 70%;
  }

  .form-container {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    background:
      no-repeat 0% 75% / 12.5% url("./Images/contact-desk1.png"),
      no-repeat 20% 70% / 6% url("./Images/contact-desk2.png"),
      no-repeat 100% 60% / 15%  url("./Images/contact-desk3.png");
  }

  .form-container > .text {
    display: none;
  }

  #comment {
    background-size: 5%;
  }

  .foot {
    display: flex;
    width: 100%;
    border-top: 2px solid #dfe1e6;
    justify-content: center;
  }

  .foot > .socials {
    margin-top: 5px;
  }
}
